body{
    margin: 20px;

    font-family: serif;
}

.card{
    width: 350px;
    border-radius: 15px;
    padding: 20px 30px;
    margin: 0 auto;
    background-color: 354f52;
    transition: transform .9s;
}

.card:hover{
    box-shadow: 5px 5px 3px #84a98c;
    transform: scale(1.111);
}
 