.header-links{
    display: flex;
    justify-content: right;
}

.header-link{
    margin: 20px 8px 0px 8px ;
    color: rgb(111, 108, 108);
    font-family: sans-serif;
    font-size: 14px;
    font-weight: lighter;
    text-decoration: none;
}

a:hover{
    color:green;
    text-decoration: underline;
}

a:visited{
    color: rgb(111, 108, 108);
}

.main{
    margin-top: 120px;
}

.logo-img{
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}


.search-bar{
    display: block;
    width: 400px;
    line-height: 24px; 
    font-size: 15px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 30px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.btn-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.btn{
    background-color: #dfe1e5;
    margin-left: 15px;
    margin-right: 15px;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
}